---
import PostsList from "~/components/PostsList.astro";
import PageLayout from "~/layouts/PageLayout.astro";

const title = "Blog";
---

<PageLayout title={title} twStyles="prose-ul:p-0 prose-li:pl-0">
  <h2 class="text-center md:text-left">Recent Posts</h2>
  <PostsList />
</PageLayout>
