---
import Icon from "~/components/Icon.astro";
---

<h1 class="md:text-3xl text-2xl">
  Hi, I&apos;m Anders Ramsay. <br />I{" "}
  <Icon name="mdi:favorite" twColor="text-red-500" ariaLabel="heart" />{" "}
  designing and building digital products.
</h1>
