---
import Icon from "~/components/Icon.astro";
---

<h1 class="mb-2 text-2xl leading-normal text-slate-600">
  Hi, I&apos;m Anders Ramsay. <br />I{" "}
  <Icon name="favorite" twColor="text-red-500" />{" "}
  designing and building digital products.
</h1>
