---
import Link from "../Link.astro";
import HeroHeading from "./HeroHeading.astro";
import HeroImage from "./HeroImage.astro";
---

<div class="text-center md:hidden">
  <div class="mb-4">
    <HeroHeading />
  </div>
  <HeroImage size={100} twStyles="rounded-lg mx-auto" />
  <Link href={"/about"} twStyles="block mt-4 text-lg">More about me.</Link>
</div>
<div class="hidden md:block w-full">
  <div class="flex flex-row items-start">
    <div class="flex-1">
      <HeroHeading />
      <Link href={"/about"} twStyles="mt-1 text-lg block">More about me.</Link>
    </div>
    <HeroImage size={100} twStyles="rounded-lg" />
  </div>
</div>
