---
import Icon from "~/components/Icon.astro";
---

<h1 class="font-light md:text-3xl text-2xl">
  Hi, I&apos;m Anders Ramsay. <br />I{" "}
  <Icon name="favorite" twColor="text-red-500" />{" "}
  designing and building digital products.
</h1>
