---
import IconLinkList from "~/components/IconLinkList.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import { ABOUT_ICON_LINKS } from "~/lib/icons";
import HeroImage from "../components/Hero/HeroImage.astro";
import AboutContent from "../content/static/about.mdx";
---

<PageLayout
  title="About"
  twStyles="md:prose-h1:mb-0 md:prose-h1:pb-2"
  description="About Anders Ramsay"
>
  <div class="flex flex-col items-center prose-ul:p-0 prose-li:pl-0">
    <HeroImage size={150} twStyles="rounded-full" />
    <div class="pt-1 md:pt-0">
      <IconLinkList size={26} items={ABOUT_ICON_LINKS} />
    </div>
  </div>
  <div class="px-6 md:px-0"><AboutContent /></div>
</PageLayout>
