---
import IconLinkList from "~/components/IconLinkList.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import type { IconListItem } from "~/types/IconList";
import HeroImage from "../components/Hero/HeroImage.astro";
import AboutContent from "../content/static/about.mdx";

const icons: IconListItem[] = [
  {
    icon: "proicons:bluesky",
    href: "https://bsky.app/profile/andersco.bsky.social",
    title: "Bluesky",
  },
  {
    icon: "mdi:github",
    href: "https://github.com/andersr",
    title: "GitHub",
  },
  {
    icon: "mdi:instagram",
    href: "https://instagram.com",
    title: "Instagram",
  },
  {
    icon: "mdi:linkedin",
    href: "https://www.linkedin.com/in/andersramsay/",
    title: "LinkedIn",
  },
  {
    icon: "simple-icons:medium",
    href: "https://medium.com/@andersco",
    title: "Medium",
    size: 30,
  },
  {
    icon: "mdi:stack-overflow",
    href: "https://stackoverflow.com/users/2008639/andersr",
    title: "Stack Overflow",
  },
  {
    icon: "simple-icons:threads",
    href: "https://www.threads.net/@andersr",
    title: "Threads",
  },
];
---

<PageLayout
  title="About"
  topSectionOffset="mt-0"
  twStyles="prose-h1:mb-4"
  description="About Anders Ramsay"
>
  <div class="flex flex-col items-center prose-ul:p-0 prose-li:pl-0">
    <HeroImage size={200} twStyles="rounded-full" />
    <IconLinkList items={icons} />
  </div>
  <AboutContent />
</PageLayout>
