---
import IconLinkList from "~/components/IconLinkList.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import { ABOUT_ICON_LINKS } from "~/lib/icons";
import HeroImage from "../components/Hero/HeroImage.astro";
import AboutContent from "../content/static/about.mdx";
---

<PageLayout
  title="About"
  topSectionOffset="mt-0"
  twStyles="prose-h1:mb-4"
  description="About Anders Ramsay"
>
  <div class="flex flex-col items-center prose-ul:p-0 prose-li:pl-0">
    <HeroImage size={200} twStyles="rounded-full" />
    <IconLinkList items={ABOUT_ICON_LINKS} />
  </div>
  <AboutContent />
</PageLayout>
