---
import Hero from "~/components/Hero/Hero.astro";
import PostsList from "~/components/PostsList.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <Hero />
  <section class="mt-6">
    <h2 class="text-center md:text-left">Recent Posts</h2>
    <PostsList />
  </section>
</Layout>
