---
import Hero from "~/components/Hero/Hero.astro";
import PostsList from "~/components/PostsList.astro";
import Typography from "~/components/Typography.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mt-10">
    <Hero />
  </div>
  <section class="mt-10 md:mt-[32px]">
    <Typography twStyles="prose-ul:p-0 prose-li:pl-0">
      <h2 class="text-center md:text-left">Recent Posts</h2>
      <PostsList />
    </Typography>
  </section>
</BaseLayout>
