---
import { twMerge } from "tailwind-merge";

interface Props {
  side: "left" | "right";
}

const { side } = Astro.props;
---

<div
  class={twMerge(
    "prose-p:text-2xl prose-p:leading-normal prose-p:text-gray-600 w-1/3",
    side === "left" && "float-left mr-8",
    side === "right" && "float-right ml-8",
  )}
>
  <slot />
</div>
