---
// interface Props {
//   side: "left" | "right";
// }

// const { side } = Astro.props;
---

<div
  class={"border border-slate-300 md:rounded-lg px-6 pt-4 prose-h2:mt-0 m-4"}
>
  <slot />
</div>
