---
interface Props {
  slug: string;
  id: string;
}

const { id, slug } = Astro.props;
---

<figure class="size-[300px] md:size-[480px] mx-auto relative">
  <iframe src={`https://giphy.com/embed/${id}`} class="size-full"></iframe>
  <figcaption class="absolute bottom-1 right-2">
    <a class="text-sm" href={`https://giphy.com/gifs/${slug}`}>via GIPHY</a>
  </figcaption>
</figure>
