---
import type { BlogPostFrontmatter } from "~/types/BlogPost";

type Props = Pick<BlogPostFrontmatter, "heroImageCredit">;

const { heroImageCredit } = Astro.props;

const imageCreditUrl =
  Array.isArray(heroImageCredit) && heroImageCredit.length > 1
    ? heroImageCredit[1]
    : "";

const imageCreditText = Array.isArray(heroImageCredit)
  ? `Image by ${heroImageCredit[0]}`
  : "";
---

{
  heroImageCredit ? (
    imageCreditUrl ? (
      <a href={imageCreditUrl} class="text-gray-400">
        {imageCreditText}
      </a>
    ) : (
      imageCreditText
    )
  ) : null
}
