---
import AdditionalPostsMedium from "./AdditionalPostsMedium.astro";
import PostsList from "./PostsList.astro";
import Typography from "./Typography.astro";
---

<section class="mt-10 md:mt-[32px]">
  <Typography
    twStyles="prose-h3:mt-0 md:prose-h3:mt-2  prose-ul:p-0 prose-li:pl-0 prose-p:mt-1 md:prose-p:mt-2"
  >
    <h2 class="font-normal md:text-3xl">Recent Posts</h2>
    <PostsList />
    <div>
      <hr />
      <AdditionalPostsMedium />
    </div>
  </Typography>
</section>
