---
import { twMerge } from "tailwind-merge";

interface Props {
  twStyles?: string;
}

const { twStyles } = Astro.props;
---

<div
  class={twMerge(
    "prose max-w-none md:prose-xl",
    "prose-h1:text-center prose-h1:pt-6 prose-h1:font-normal md:prose-h1:py-6 prose-h1:leading-tight",
    "prose-h2:font-normal prose-h2:mt-8",
    "prose-h3:font-medium md:prose-h3:font-normal prose-h3:mb-1",
    "prose-ul:pl-6",
    "prose-li:my-1",
    "prose-figcaption:text-sm",
    twStyles,
  )}
>
  <slot />
</div>
