---
import Analytics from "@vercel/analytics/astro";
import { twMerge } from "tailwind-merge";
import AppHeader from "~/components/AppHeader.astro";
import Footer from "~/components/Footer.astro";
import IconLinkList from "~/components/IconLinkList.astro";
import SkipToContent from "~/components/SkipToContent.astro";
import { SITE_TITLE } from "~/consts";
import { FOOTER_ICON_LINKS } from "~/lib/icons";
import type { PageProps } from "~/types/Page";
import BaseHead from "../components/BaseHead.astro";

type Props = PageProps;

const { title, description, staticPage } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead
      title={`${title ? `${title} | ` : ""}${SITE_TITLE}`}
      description={description}
    />
  </head>
  <body
    class={twMerge("h-full flex-col relative", staticPage ? "flex" : "md:flex")}
  >
    <SkipToContent />
    <AppHeader />
    <main id="main" class="flex-1 max-w-3xl mx-auto pt-20">
      <span id="contentTop"></span>
      <slot />
    </main>
    <Footer
      ><div class="flex items-center justify-between md:justify-center w-full">
        &copy; {new Date().getFullYear()} Anders Ramsay
        <IconLinkList bulletDivider items={FOOTER_ICON_LINKS} size={20} />
      </div></Footer
    >
    <Analytics />
  </body>
</html>

<script>
  const header = document.querySelector("header");
  const contentTop = document.querySelector("#contentTop");

  const ob = new IntersectionObserver(function obCallback(payload) {
    const isScrolling = !payload[0].isIntersecting;

    if (header) {
      header.classList.toggle("drop-shadow-md", isScrolling);
      header.classList.toggle("md:drop-shadow-none", isScrolling);
    }
  });

  if (contentTop) {
    ob.observe(contentTop);
  }
</script>
