---
import Link from "~/components/Link.astro";
import { SITE_TITLE } from "~/consts";
import BaseHead from "../components/BaseHead.astro";

type Props = {
  title: string;
  description?: string;
};

const { title = SITE_TITLE, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="p-4">
    <nav class="w-full flex items-center">
      <div class="flex-1">
        <a href="/" class="text-slate-400">anders.co</a>
      </div>
      <ul class="flex flex-nowrap space-x-2">
        <li>
          <Link href="/blog">Blog</Link>
        </li>
        <li>
          <Link href="/about">About</Link>
        </li>
      </ul>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
