---
import Typography from "~/components/Typography.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import type { PageProps } from "~/types/Page";

type Props = PageProps;

const { title, twStyles, topSectionOffset } = Astro.props;
---

<BaseLayout title={title}>
  <Typography twStyles={twStyles}>
    <h1>{title}</h1>
    <section class={topSectionOffset ?? "mt-20"}>
      <slot />
    </section>
  </Typography>
</BaseLayout>
