---
import Typography from "~/components/Typography.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import type { PageProps } from "~/types/Page";

type Props = PageProps;

const { title, twStyles, topSectionOffset, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Typography twStyles={twStyles}>
    <h1>{title}</h1>
    <section class={topSectionOffset ?? ""}>
      <slot />
    </section>
  </Typography>
</BaseLayout>
